.DS_Store
.build
Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.idea
Samples/Quickstart/build/
Samples/Quickstart/fusionauth-quickstart-swift-ios-native.xcodeproj/xcshareddata/

.opencode/init

.opencode/opencode.db

.opencode/opencode.db-shm

.opencode/opencode.db-wal

OpenCode.md
